Package: libpciaccess-dev
Source: libpciaccess (0.17-3)
Version: 0.17-3+b3
Architecture: amd64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 128
Depends: libpciaccess0 (= 0.17-3+b3)
Section: libdevel
Priority: optional
Multi-Arch: same
Description: Generic PCI access library for X - development files
 Provides functionality for X to access the PCI bus and devices
 in a platform-independent way.
 .
 This package contains the development files for libpciaccess.
